@import 'colors/one-dark.css';

* {
	border: none;
	border-radius: 0px;

	font-family: "JetBrainsMono Nerd Font Propo", "sans-serif";
	font-size: 16px;
	font-weight: bold;
	
	min-height: 0;
	padding: 0;
	margin: 0;
}

window#waybar {
	background: transparent;
}

tooltip {
	background: @bg0;
	border: 1px solid @bg3;
	border-radius: 12px;
}

tooltip label {
	color: @gf;
	padding: 6px;
}

#workspaces {
	background-color: @bg0;
	padding: 5px 3px;
	margin: 0 0 0 12px;
	border-radius: 18px;
	border: 1px solid @bg1;
	color: @fg;
}

#workspaces button {
	padding: 0px 6px;
	margin: 0px 3px;
	border-radius: 40px;
	color: transparent;
	background-color: @bg1;
	transition: all 0.3s ease-in-out;
}

#workspaces button.active {
	background-color: @amethyst1;
	color: @bg0;
	min-width: 40px;
	transition: all 0.3s ease-in-out;
	font-size: 13px;
}

#workspaces button:hover {
	background-color: @amethyst2;
	color: @bg0;
	border-radius: 16px;
	min-width: 40px;
	background-size: 400% 400%;
}

#workspaces button.urgent {
	background-color: @red;
	color: @bg0;
	border-radius: 16px;
	min-width: 40px;
	background-size: 400% 400%;
	transition: all 0.3s ease-in-out;
}

#pulseaudio,
#network,
#clock,
#custom-vpn,
#custom-notification {
	background-color: @bg0;
	padding: 0 15px 0 15px;
	margin: 0 0 0 12px;
	border-radius: 40px;
	border: 1px solid @bg1;
}

#clock {
	color: @amethyst2;
}

#custom-notification {
	color: @amethyst2;
	margin: 0 12px 0 12px;
}

#pulseaudio {
	color: @amethyst2;
}

#custom-vpn.connected {
	color: #a6e3a1;
}

#custom-vpn.disconnected {
	color: #f38ba8;
}
